<VirtualHost *:80>
    ServerAdmin {{ server_admin }}
    ServerName {{ local_domain }}
    SetEnv APPLICATION_ENV dev
    DocumentRoot {{ source_path }}
    <Directory {{ source_path }} >
        Options Indexes FollowSymLinks -MultiViews
        AllowOverride all
        Order allow,deny
        allow from all
    </Directory>
</VirtualHost>