<VirtualHost *:80>
    ServerAdmin {{ server_admin }}
    ServerName {{ bob_domain }}
    SetEnv APPLICATION_ENV dev
    DocumentRoot {{ source_folder_path }}/bob/public
    <Directory {{ source_folder_path }}/bob/public >
        Options Indexes FollowSymLinks -MultiViews
        AllowOverride all
        Order allow,deny
        allow from all
    </Directory>
</VirtualHost>